---
import If from '../ControlFlow/If.astro';

interface Props {
  ["class"]?: string,
  href?: string,
  theme: "primary" | "secondary" | "line" | "transparent",
  disabled?: boolean
}

const { href, theme, disabled, class: c } = Astro.props;
---

<If when={href && !disabled}>
  <a href={href}>
    <button class={`${theme} ${c} shadow-lg text-center font-bold rounded-lg px-3 py-2 text-md lg:text-lg xl:text-xl duration-300`}>
      <slot/>
    </button>
  </a>
</If>
<If when={!href || disabled}>
  <button {disabled} class={`${theme} ${c} shadow-lg font-bold rounded-lg px-3 py-2 text-md lg:text-lg xl:text-xl duration-300`}>
    <slot/>
  </button>
</If>

<style>
  .primary {
    background-color: var(--ria-button-primary-color);
  }

  .primary:hover {
    background-color: var(--ria-button-primary-hover-color);
  }

  .primary:disabled {
    color: var(--ria-text-disabled-color);
    background-color: var(--ria-button-primary-disabled-color);
  }

  .secondary {
    background-color: var(--ria-button-secondary-color);
  }

  .secondary:hover {
    background-color: var(--ria-button-secondary-hover-color);
  }

  .secondary:disabled {
    background-color: var(--ria-button-secondary-disabled-color);
  }

  .line {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border: 3px solid var(--ria-button-outline-color);
  }

  .line:hover {
    border: 3px solid var(--ria-button-outline-hover-color);
  }

  .line:disabled {
    border: 3px solid var(--ria-button-outline-disabled-color);   
  }
</style>

<style is:global>
  * {
    --ria-text-disabled-color: gray;

    --ria-button-primary-color: rgb(85, 104, 129);
    --ria-button-primary-hover-color: rgb(143, 161, 185);
    --ria-button-primary-disabled-color: rgb(66, 66, 88);
    --ria-button-secondary-color: rgb(71 85 105);
    --ria-button-secondary-hover-color: rgb(148 163 184);
    --ria-button-secondary-disabled-color: rgb(68, 68, 85);
    --ria-button-outline-color: rgb(85, 104, 129);
    --ria-button-outline-hover-color: rgb(143, 161, 185);
    --ria-button-outline-disabled-color: rgb(70, 76, 94);
  }
</style>