---
export const prerender = true;

import { Icon } from 'astro-icon/components';
import Image from 'astro/components/Image.astro';
import Tag from '../../components/Blog/Tag.astro';
import PostLayout from "../../layouts/PostLayout.astro";
import { getCollection } from 'astro:content';
import If from "../../components/ControlFlow/If.astro";
import For from "../../components/ControlFlow/For.astro";

export async function getStaticPaths() {
  const blogCollections = await getCollection("posts");

  return blogCollections.map(entry => {
    return {
      params: {slug: entry.slug},
      props: {
        entry
      }
    }
  });
}

import Link from "../../components/Markdown/Link.astro";
import Header from "../../components/Markdown/Header.astro";
import Code from "../../components/Markdown/Code.astro";
import Pre from "../../components/Markdown/Pre.astro";
import FormattedDate from '../../components/FormattedDate.astro';
import Tab from '../../components/Markdown/Tab.astro';
import Accordion from '../../components/Accordion/Accordion.astro';

export const components = { a: Link, h1: Header, code: Code, pre: Pre, Tab: Tab, Accordion: Accordion }

const { entry } = Astro.props;
const { Content } = await entry.render()
---

<PostLayout title={entry.data.title} description={entry.data.description} image={entry.data.image.src}>
  <div class="bg-midnight-blue py-4">
    <a href="/posts" class="max-w-[80rem] px-4 mx-auto font-bold duration-300 cursor-pointer hover:text-cyan-400 flex gap-4 items-center">
      <Icon class="w-8 h-8" name="ph:arrow-left-light"/>
      <p>Blogs</p>
    </a>
  </div>

  <div class="md:text-lg mx-auto w-[70rem] max-[1000px]:w-full px-4 md:px-10 grid gap-4 bg-gray-800 py-8 font-sans">

    <If when={entry.data.tags}>
      <span class="flex gap-2">
        <For of={entry.data.tags}>
          {x => <Tag tag={x}/>}
        </For>
      </span>
    </If>
    
    <h2 class="font-bold text-xl md:text-2xl text-gray-400 font-cantarell">
      <FormattedDate date={entry.data.date}/>
    </h2>
    <h1 class="text-2xl md:text-4xl font-cantarell">{entry.data.title}</h1>
    <div class="flex justify-center">
      <Image class="rounded-2xl object-cover" alt=`blog-post-${entry.data.title}` src={entry.data.image} loading="eager"/>
    </div>
    
    <Content {components}/>
  </div>
</PostLayout>