---
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/Blog/BlogPost.astro";
import For from "../../components/ControlFlow/For.astro";
import { getPosts } from "../../utils/posts";

const posts = await getPosts();
---

<Layout>
  <main class="flex-auto">
    <ul class="text-white bg-gray-800 px-4 py-8 max-w-7xl mx-auto space-y-12 list-none">
      <For of={posts}>
        {(x, i) => 
          <li>
            <BlogPost tags={x.data.tags} shouldLazy={i > 1} image={x.data.image} 
              date={x.data.date} title={x.data.title} description={x.data.description} url={x.slug}/>
          </li>
        }
      </For>
    </ul>
  </main>
</Layout>
