---
import { stringToDateString } from "../../utils/date";
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/Blog/BlogPost.astro";
const fs = await import("path");

const posts = await Astro.glob('../posts/*.{md,mdx}');
const images = import.meta.glob<{ default: ImageMetadata; }>(`/src/assets/blogs/*.{png,webp}`);

---

<Layout>
  <main class="flex-auto">
    <ul class="text-white bg-gray-800 px-4 py-8 max-w-[80rem] mx-auto space-y-12">
      {
        posts.reverse().sort((x, y) => {
          // @ts-ignore
          return (new Date(y.frontmatter.date) - new Date(x.frontmatter.date));
        }).map((x, i) => {
          const dateString = stringToDateString(x.frontmatter.date);

          return <li class="list-none">
            <BlogPost tag={x.frontmatter.tags} shouldLazy={i > 1} images={images} image={"/src/assets/blogs/" + fs.basename(x.url!) + ".webp"} 
              date={dateString} title={x.frontmatter.title} description={x.frontmatter.description} url={x.url}/>
          </li>
        }

        )
      }
    </ul>
  </main>
</Layout>
