---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const notFound = (await getCollection("404"))[0];
const rendered = await notFound.render();

import fs from "path";
import Link from "../components/Markdown/Link.astro";
import Header from "../components/Markdown/Header.astro";
import Code from "../components/Markdown/Code.astro";
import Pre from "../components/Markdown/Pre.astro";
import Tab from '../components/Markdown/Tab.astro';
import Accordion from '../components/Accordion/Accordion.astro';
import CardPage from "../components/CardPage/CardPage.astro";
import Filesystem from "../components/Filesystem/Filesystem.astro";
import For from "../components/ControlFlow/For.astro";

export const components = { a: Link, h1: Header, code: Code, pre: Pre, Tab: Tab, Accordion: Accordion }
const Content = rendered.Content;

const blogs = await getCollection("posts");

const slugs = blogs.map(x => x.slug);
const uniqueTags = [...new Set(blogs.map((post) => post.data.tags).filter(x => x).flat())];

const games = await getCollection("games");

const gameSlugs = games.map(x => x.slug);
type ArtMeta = {
  name: string
};

const pictures: string[] = Object.keys(import.meta.glob("/src/assets/webp_arts/**/*.webp"))
const artYears = ["2024", "2023", "2022", "2021", "2020", "2019"];
const picturesByYear: Record<string, ArtMeta[]> = {};

artYears.forEach(x => {
  picturesByYear[x] = [];
  pictures.forEach(picture => {
    if (picture.includes(x)) {
      const baseName = fs.basename(picture);
      const dateName = baseName.split('.')[0];
      let name = dateName.substring(11).replaceAll("_", " ");
      picturesByYear[x].push({
        name: name
      });
    }
  })
});
---

<Layout>
  <header class="mx-auto max-w-[40rem] px-5 lg:px-10 space-y-4 pb-4">
    <h2 class="text-4xl text-center font-bold py-8 font-deca">404 PAGE NOT FOUND!</h2>
    <Content {components}/>
    <h2 class="text-4xl text-center font-bold py-8 font-deca">This is the only pages that exists in this website.</h2>

    <CardPage title="Home" icon="ph:house-fill" url="/">
      <Fragment slot="description">
        The homepage of this website.
      </Fragment>
    </CardPage>
    <CardPage title="Arts" icon="ph:paint-brush-fill" url="/arts" hasDerivedPages>
      <Fragment slot="description">
        Contains a list of arts that Teuria drew.
      </Fragment>

      <Filesystem title="arts">
        <Link href="/arts">index</Link>
        <For of={artYears}>
          {(y) => {
            const pictures = picturesByYear[y];
            return (
              <Filesystem title={y}>
                <Link href={"/arts/" + y}>index</Link>
                <For of={pictures}>
                  {x => <Link href={`/arts/${y}/${x.name}`}>{x.name}</Link>}
                </For>
              </Filesystem>)
          }}
        </For>
      </Filesystem>
    </CardPage>
    <CardPage title="Blogs" icon="ph:newspaper-clipping-fill" url="/posts" hasDerivedPages>
      <Fragment slot="description">
        Teuria's story sharing.
      </Fragment>

      <Filesystem title="posts">
        <Link href="/posts">index</Link>
        <For of={slugs}>
          {x => <Link href={"/posts/" + x}>{x}</Link>}
        </For>
        <Filesystem title="tags">
          <Link href="/posts/tags">index</Link>
          <For of={uniqueTags}>
            {x => <Link href={"/posts/tags/" + x}>{x}</Link>}
          </For>
        </Filesystem>
      </Filesystem>

    </CardPage>
    <CardPage title="Games" icon="ph:game-controller-fill" url="/games" hasDerivedPages>
      <Fragment slot="description">
        Games that are developed by Teuria.
      </Fragment>

      <Filesystem title="games">
        <Link href="/games">index</Link>
        <For of={gameSlugs}>
          {x => <Link href={"/games/" + x}>{x}</Link>}
        </For>
      </Filesystem>
    </CardPage>
    <CardPage title="Commission" icon="ph:money-wavy-fill" url="/commission">
      <Fragment slot="description">
        A pay for an art request website.
      </Fragment>   
    </CardPage>
  </header>

</Layout>