---
import { Comment, db, eq, User, like } from "astro:db";

export const partial = true;
export const prerender = false;

const slug = Astro.url.searchParams.get("slug");

const messageDoc = await db.select({
    comment: Comment,
    username: User.username
  }).from(Comment)
    .where(like(Comment.artRef, `%${slug}%`))
    .innerJoin(User, eq(Comment.author, User._id)); 

const messages = messageDoc.sort((x, y) => y.comment.date.valueOf() - x.comment.date.valueOf());

const isExpired = (Astro.locals as any).expired;
let name: string = "";
if (!isExpired) {
  const user = (Astro.locals as any).user;
  if (!user) {
      name = "Guest";
  } else {
      name = user.tokenUser.username;
  }
}

---
<p>Comments: ({messages.length})</p>
{
  messages.map((x: typeof messageDoc[0]) => (
    <comment-body 
      username={x.username} 
      date={x.comment.date.toLocaleDateString("en-us", {
					weekday: 'long',
					year: 'numeric',
					month: 'long',
					day: 'numeric'
      }).replace(",", "")}
      body={x.comment.body}
      id={x.comment._id} 
      sessionname={name}></comment-body>

  ))
}