---
import FormattedDate from "../../components/FormattedDate.astro";
import { Comment, db, eq, User, like } from "astro:db";

export const partial = true;
export const prerender = false;

const slug = Astro.url.searchParams.get("slug");

const messageDoc = await db.select().from(Comment)
  .where(like(Comment.artRef, `%${slug}%`))
  .innerJoin(User, eq(Comment.author, User._id)); 
const messages = messageDoc.sort((x, y) => y.Comment.date.valueOf() - x.Comment.date.valueOf());

---
<p>Comments: ({messages.length})</p>
{
  messages.map((x: typeof messageDoc[0]) => (<div class="mx-2 p-4 bg-midnight rounded-xl flex gap-5 items-center">
    <div>
      <h1 class={`font-bold text-lg ${x.User.username === "Guest" ? "text-gray-400" : ""}`}>{x.User.username}</h1>
      <span class="text-gray-500 text-sm"><FormattedDate date={x.Comment.date}/></span>
      <p>{x.Comment.body}</p>
    </div>
  </div>))
}