---
import For from "../ControlFlow/For.astro";
import TeIcon from "../Svg/TeIcon.astro";
import NavbarButton from "./NavbarButton.astro";
import NavBurger from "./NavBurger.astro";
import NavBurgerItem from "./NavBurgerItem.astro";

type NavItem = {
  name: string
  url: string
}

interface Props {
  items: NavItem[]
}

const props = Astro.props;
---

<nav id="navigation" class="w-full text-white fixed top-0 z-20 px-2 bg-transparent duration-300 data-[opened]:bg-black/80 data-[scrolled]:bg-black/80">
  <div class="mx-auto max-w-[96rem] flex justify-between font-deca">
    <a href="/" class="flex items-center gap-4 font-bold cursor-pointer *:duration-300 hover:[&_svg]:rotate-45 hover:[&_span]:translate-x-[-4px] hover:[&_span]:skew-x-0">
      <TeIcon class="te-icon w-12 h-12 p-1"/>
      <span class="te-title translate-x-[-16px] skew-x-[-12deg]">TEURIA</span>
    </a>

    <div class="md:flex hidden">
      <For of={props.items}>
        {(x) => <NavbarButton link={x.url}>{x.name}</NavbarButton>}
      </For>
    </div >

    <div class="flex md:hidden">
      <NavBurger>
        <For of={props.items}>
          {(x) => <NavBurgerItem link={x.url}>{x.name}</NavBurgerItem>}
        </For>
      </NavBurger>
    </div>
  </div>
</nav>

<script>
  document.addEventListener('scroll', () => {
    const navigation = document.getElementById("navigation")!;
    if (window.scrollY > 0) {
      navigation.setAttribute("data-scrolled", "");
      return;
    }

    navigation.removeAttribute("data-scrolled");
  });
</script>