---
export const prerender = true;

import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Accordion from '../../components/Accordion/Accordion.astro';
import Header from '../../components/Markdown/Header.astro';
import Link from '../../components/Markdown/Link.astro';
import Pre from '../../components/Markdown/Pre.astro';
import SubHeading from '../../components/Markdown/SubHeading.astro';
import Tab from '../../components/Markdown/Tab.astro';
import Code from '../../components/Markdown/Code.astro';
import Ol from '../../components/Markdown/Ol.astro';
import Blockquote from '../../components/Markdown/Blockquote.astro';
import Ul from '../../components/Markdown/Ul.astro';
import SubSubHeading from '../../components/Markdown/SubSubHeading.astro';
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import FormattedDate from '../../components/FormattedDate.astro';


export async function getStaticPaths() {
  const gamesCollection = await getCollection("projects");

  return gamesCollection.map(x => {
    return {
      params: { slug: x.slug },
      props: {
        title: x.data.title,
        description: x.data.description,
        image: x.data.image,
        content: x.render,
        date: x.data.date
      }
    }
  })
}
export const components = { a: Link, h1: Header, h2: SubHeading, h3: SubSubHeading, code: Code, pre: Pre, Tab: Tab, Accordion: Accordion, ol: Ol, blockquote: Blockquote, ul: Ul }

const { title, description, image, content, date } = Astro.props;
const Content = (await content()).Content;
---

<ProjectLayout description={description} title={title} image={image}>
    <div class="mx-auto w-full flex justify-center mt-20 md:-mb-12 max-w-(--breakpoint-lg)">
      <Image class="object-cover" src={image} alt={title.toLowerCase()} loading="eager" />
    </div>

    <div class="relative mx-auto w-220 max-[1000px]:w-full px-4 py-4 bg-gray-800 text-sm md:text-base">
      <h1 class="font-bold text-4xl text-center my-2">{title}</h1>
      <h2 class="text-gray-300 text-center">{description}</h2>
      <h2 class="text-gray-400 text-center">
        <FormattedDate date={date}/>
      </h2>
      <hr class="border-gray-500 my-2 lg:my-4"/>
      <Content {components}/>
    </div>
</ProjectLayout>