---
import Layout from '../../layouts/Layout.astro';

import GamesPost from '../../components/Games/GamesPost.astro';
import { getCollection } from 'astro:content';
import For from '../../components/ControlFlow/For.astro';

const projects = await getCollection("projects");
---

<Layout>
  <div class="mx-auto max-w-[80rem] text-white py-12 space-y-4">
    <ul class="grid md:gap-4">
      <For of={projects}>
        {x => <GamesPost name={x.data.title} description={x.data.description} image={x.data.image} slug={x.slug}/>}
      </For>
    </ul>
  </div>
</Layout>


