---
import { Image } from "astro:assets"; import placeholderImage from "../../assets/blogs/placeholder.webp";
import Tag from "./Tag.astro";
import FormattedDate from "../FormattedDate.astro";

interface Props {
    title: string,
    description: string,
    date: Date,
    url: string,
    image: ImageMetadata,
    tags: string[] | undefined,
    shouldLazy: boolean
}

const prop = Astro.props;
---
<div class="w-full rounded-lg p-4 lg:grid-cols-2 items-center grid group font-slab">
  <a href={`/posts/${prop.url}`}>
    {
      (prop.image
        ? <Image class="rounded-2xl object-cover" alt={`blog-post-${prop.title}`} src={prop.image} loading={prop.shouldLazy ? "lazy" : "eager"}/>
        : <Image class="rounded-2xl object-cover" alt={`blog-post-${prop.title}`} src={placeholderImage}
          width="1024" height="640" loading={prop.shouldLazy ? "lazy" : "eager"}/>
      )
    }
  </a>

  <div class="w-full rounded-r-xl max-md:rounded-xl p-3 flex flex-col gap-1">
    <div class="flex gap-2">
      {
        prop.tags 
          ? prop.tags.map(x => 
              <Tag tag={x}/>
          )  
          : null
      }
    </div>

    <h2 class="font-bold text-gray-400">
      <FormattedDate date={prop.date}/>
    </h2>

    <a href={`/posts/${prop.url}`} class="text-4xl md:text-2xl lg:text-3xl xl:text-4xl mt-2">{prop.title}</a>
    <p class="text-xl md:text-base lg:text-lg mt-4">{prop.description}</p>
  </div>
</div>