---
import YearButton from "../components/Arts/YearButton.astro";
import Layout from "./Layout.astro";
import fs from "path";
import Accordion from "../components/Accordion/Accordion.astro";
import MasonryItemArt from "../components/Arts/MasonryItemArt.astro";
import Masonry from "../components/Masonry/Masonry.astro";
import type { Item } from "../components/Masonry/Masonry";

interface Props {
  year: string;
  pictures: ImageMetadata[];
}

const prop = Astro.props;

const masonry: Item<any>[] = [];

prop.pictures.reverse().map(async (x, i) => {
  const loadType = i > 11 ? "lazy" : "eager";
  const baseName = fs.basename(x.src);
  const artworkName = baseName
    .split(".")[0]
    .substring(11)
    .replaceAll("_", " ");
  const year = baseName.split("-")[2].substring(0, 4)
  masonry.push({
    type: MasonryItemArt,
    props: { src: x, loadType, artworkName, year }
  })
});
---

<Layout>
  <div class="mx-auto max-w-[96rem] px-4 py-10 space-y-4 text-white gap-10">
    <Accordion title="Year of Progress">
      <div
        class="bg-midnight rounded-lg flex flex-col md:flex-row justify-evenly overflow-x-auto"
      >
        <a href="/arts" class="w-full">
          <button
            class={`w-full hover:bg-midnight-light duration-300 py-4 font-bold text-3xl ${prop.year === "All" ? "bg-midnight-light" : ""}`}
          >
            All
          </button>
        </a>
        <YearButton year={2024} currentYear={prop.year} />
        <YearButton year={2023} currentYear={prop.year} />
        <YearButton year={2022} currentYear={prop.year} />
        <YearButton year={2021} currentYear={prop.year} />
        <YearButton year={2020} currentYear={prop.year} />
        <YearButton year={2019} currentYear={prop.year} />
      </div>
    </Accordion>

    <Masonry items={masonry} gap={5} columns={4}/>
  </div>
</Layout>
