---
import Footer from '../components/Footer/Footer.astro';
import Navbar from '../components/Navbar/Navbar.astro';
import GlobalStyleLayout from './GlobalStyleLayout.astro';

interface Props {
    title: string,
    content: string,
    imageSrc: string
}

const prop = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
 		<meta name="og:title" content={`Teuria's Website - ${prop.title}`} />       
		<meta name="og:description" content={prop.content} />
        <meta name="og:image" content={prop.imageSrc}/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{`Teuria's Website - ${prop.title}`}</title>
	</head>
	<body>
		<Navbar/>
    <div class="min-h-screen">
      <slot />
    </div>
		<Footer/>
	</body>
</html>
<GlobalStyleLayout/>